@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Jura:wght@300..700&family=Knewave&family=Oswald:wght@200..700&display=swap');

*{
    font-family: 'Knewave';
    color: white;
}
img{
    width: 90px;

}
#deadpool{
    position:absolute;
    top: 0;
    left: 0;
    margin-left: 40px;
    margin-top: 20px;
}
#america{
    position: absolute;
    top: 72%;
    width: 200px;
}
#iron{
    position: absolute;
    left: 85%;
    width: 200px;
}
#miranha{
    position:absolute;
    top: 74%;
    left: 85%;
    width: 150px;
}
body{
    font-family: 'Knewave';
    background-color: #830A05;
}

#nameHero{
    background-color: #1562A7;
    width: 200px;
    border: none;
    color: white;
}
#nameHero::placeholder{
    color: white;
    display: none;
}

#search{
    background-color: rgb(158, 151, 141);
    margin-left: 5px;
}

#allbox{
    margin: 0;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#boxinput{
    display: flex;
}
.inputText{
    background-color: #1562A7;
    border-radius: 10;
    padding: 2px;
    border-radius: 10px;
}

